# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# Tailwind
wwwroot/css/output.css

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
Generated_Code/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: if you're using Rider or VSCode
.idea/
.vscode/
