@page "/"

<div class="w-screen h-screen flex items-center justify-center bg-black">
    <Squares Direction="diagonal" Speed="0.5" SquareSize="60" BorderColor="#271e37" HoverFillColor="#060010" />
</div>
